*{
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #F3F5FC;
}

.logo-alura img {    
    position: absolute;
    width: 5%;
    height: 10;
    top: 3%;
    left: 2%;
}

.texto {
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    top: 15%;
    border: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: #F3F5FC;
}

.texto::placeholder {
    color: #0A3871;
}

.texto:focus, .texto:active {
    border: none;
    outline: none;
}

.terminos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 80%;
}

.terminos p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.botones{
    display: flex;
    column-gap: 5px;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 82%;
}

.btn-encriptar {
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 13%;
    background-color: #0B0B88DD;
    border-radius: 24px;
    font-family: "Inter";
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: white;
}

.btn-desencriptar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 13%;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color:#0A3871;
}

.btn-copiar {
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 13%;
    background-color:  #0B0B88DD;
    border-radius: 24px;
    font-family: "Inter";
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #D8DFE8;
}

.btn-borrar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 13%;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
}

.btn-desencriptar:hover, .btn-encriptar:hover, .btn-borrar:hover, .btn-copiar:hover {
    margin: 0.5%;
    width: 15%;
    padding: 2%;
}

.encriptado {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;
    background: white;
    box-shadow: 0px 24px 32px -8px rgba(0,0,0,0.07);
    border-radius: 32px;
}

.mensaje-encriptado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 66%;
    text-align: center;
}

.mensaje-encriptado h2 {
    width: 60%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #0A3871;
}

.mensaje-encriptado p {
    width: 80%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
}

.encriptado img {
    position: absolute;
    width: 70%;
    height: 65%;
    top: 3%;
    filter: drop-shadow(0 0 30px rgba(22, 4, 50, 0.9));
}

/* Responsive Design */

@media (max-width: 55em) {
    .container {
        display: flex;
        flex-direction: row;  
    }
    .encriptar {
        width: 100%;
    }
    .texto {
        width: 80%;
        height: 60%;
        left: 10%;
        top: 15%;
    }
    .terminos {
        width: 60%;
        left: 10%;
        top: 67%;
    }
    .terminos p {
        font-size: 13px;
    }
    .botones {
        width: 80%;
        left: 10%;
        top: 50%;
    }
    .btn-encriptar, .btn-desencriptar, .btn-borrar, .btn-copiar {
        width: 25%;
        border-radius: 16px;
        font-size: 2vw;
    }
    .btn-encriptar:hover, .btn-desencriptar:hover, .btn-borrar:hover, .btn-copiar:hover {
        margin: 0.3%;
        width: 35%;
        padding: 2%;
    }
    .encriptado {
        width: 70%;
        height: 17%;
        left: 10%;
        top: 80%;
    }
    .mensaje-encriptado {
        top: 25%;
        left: 8%; 
    }

    .mensaje-encriptado h2 {
        font-size: 3vw;
    }

    .mensaje-encriptado p {
        font-size: 2vw;
    }

    .encriptado img {
        max-width: 18%;
        left: 6%;
        top: 10%;
    }
}
